//start colors
$primary-color: #006DD1;
$black: #000;
$dark-gray: #A9A9A9;
$gray: #E5E5E5;
$light-gray: #F6F6F6;
$white: #fff;
//end colors

//start fonts 
$main-font: 'Roboto', sans-serif;
//end fonts

//start font-size
$font-size: 16px;
//end font-size